doctype html
html(lang='en')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Weather API

body

    include nav.pug
    h1 Dashboard

    p Welcome to the dashboard!
    if user
        if user && user.keys && user.keys.length > 0
            form(action=`/dashboard/${user.id}/key/regenerate` method="POST")
                button(type="submit")
                        | Regenerate API Key
            form(action=`/dashboard/${user.id}/key/delete` method="POST")
                button(type="submit")
                    | Delete API Key

            


        else
            form(action=`/dashboard/${user.id}/key/generate` method="POST")
                button(type="submit")
                    | Generate API Key

        if (user && user.keys && user.keys.length > 0)
            p Your API Key is
            for key in user.keys
                p #{key.key}
        else
            p You do not have an API Key yet. Generate one now!


    
        h2 Test your API Key
        p Enter a city name to test your API Key
        p GET: /api/weather/:city/?key=YOUR_API_KEY

        form(action="/dashboard" method="GET")
            input(type="text" name="city" placeholder="City Name")
            button(type="submit") Test API

        if result
            pre= result
        if error
            p= error
    